$bg-overlay: 0.5 !default;
$bg-heavy-overlay: 0.75 !default;
$border-light: 10% !default;
$border-x-light: 5% !default;
$btn-hover-mix: 80% !default;

@forward "classes/base";
@forward "classes/text";
@forward "classes/bg" with ($overlay: $bg-overlay, $heavy-overlay: $bg-heavy-overlay);
@forward "classes/borders" with ($light: $border-light, $x-light: $border-x-light);
@forward "classes/buttons" with ($hover-mix: $btn-hover-mix);
@forward "classes/svg";
