@use "sass:map";
@use "../themes" as t;

$overlay: 0.5 !default;
$heavy-overlay: 0.75 !default;

.theme-bg {
    @include t.themeify using ($theme) {
        background-color: map.get($theme,'bg');
    }
}

.overlay {
    @include t.themeify using ($theme) {
        background-color: rgba(map.get($theme,'bg'), $overlay);
    }
}

.heavy-overlay {
    @include t.themeify using ($theme) {
        background-color: rgba(map.get($theme,'bg'), $heavy-overlay);
    }
}

