@use "sass:map";
@use "../themes" as t;

// Background

.theme-bg {
    @include t.themeify using ($theme) {
        background-color: map.get($theme,'bg');
    }
}

.overlay {
    @include t.themeify using ($theme) {
        background-color: rgba(map.get($theme,'bg'), 0.5);
    }
}

.heavy-overlay {
    @include t.themeify using ($theme) {
        background-color: rgba(map.get($theme,'bg'), 0.75);
    }
}

