@use "sass:color";
@use "sass:map";
@use "../themes" as t;

// Borders

.border {
    @include t.themeify using ($theme) {
        $text: map.get($theme,'text');
        $bg: map.get($theme,'bg');

        &-light {
            border-color: color.mix($text, $bg, 10%);
        }

        &-x-light {
            border-color: color.mix($text, $bg, 5%);
        }
    }
}

