@use "sass:color";
@use "sass:map";
@use "../themes" as t;

// Buttons

.button {
    @include t.themeify using ($t) {
        $button-bg: map.get($t,'button','bg');
        $button-text: map.get($t,'button','text');
        $text-color: map.get($t,'text');

        & {
            background-color: $button-bg;

            &, &:hover, &:visited {
                color: $button-text;
            }

            &:hover {
                background-color: color.mix($button-bg, $button-text, 80%);
            }

            &.subtle-button {
                color: $button-bg;
                background-color: $button-text;

                &:hover {
                    background-color: color.mix($button-text, $button-bg, 80%);
                }
            }
        }

        &-o {
            background-color: map.get($t,'bg');
            border-color: $button-bg;

            &, &:visited {
                color: $button-bg;
            }

            &:hover {
                color: $button-text;
                background-color: $button-bg;
                border-color: $button-bg;
            }

            &.subtle-button:not(:hover) {
                border-color: $text-color;

                &, &:visited {
                    color: $text-color;
                }
            }
        }
    }
}
