$themes: (
    'light': (
        text-color: #171717,
        background-color: white,
        brand-color: royalblue,
    ),
    'dark': (
        text-color: white,
        background-color: #171717,
        brand-color: royalblue,
    ),
    'brand': (
        text-color: white,
        background-color: royalblue,
        brand-color: #bef1f1,
    ),
);

@use 'index' as sass-themes with ($accessibility: false);

@include sass-themes.build($themes);

.no-bg {
    background-color: transparent !important;
}

