@use "normalize";

@use "style";
@use "partials/themes";

$themes: (
    "light": (
        text-color: #171717,
        background-color: white,
        brand-color: royalblue,
    ),
    "dark": (
        text-color: white,
        background-color: #171717,
        brand-color: royalblue,
    ),
    "brand": (
        text-color: white,
        background-color: royalblue,
        brand-color: teal,
    ),
);

@include themes.constructor($themes);

.no-bg {
    background-color: transparent !important;
}

@import "partials/classes";
