$themes: (
    "light": (
        text-color: #171717,
        background-color: white,
        brand-color: royalblue,
    ),
    "dark": (
        text-color: white,
        background-color: #171717,
        brand-color: royalblue,
    ),
    "brand": (
        text-color: white,
        background-color: royalblue,
        brand-color: #bef1f1,
    ),
);

@use "normalize";
@use "partials/constructor" with ($themes: $themes);
@use "partials/classes";

.no-bg {
    background-color: transparent !important;
}

@import
    "../_sass/variables",
    "../_sass/functions/manifest",
    "../_sass/mixins/manifest";

@import
    "../_sass/base",
    "../_sass/display",
    "../_sass/layout",
    "../_sass/containers",
    "../_sass/wrappers",
    "../_sass/inline",
    "../_sass/tables",
    "../_sass/flexbox",
    "../_sass/text",
    "../_sass/links",
    "../_sass/images",
    "../_sass/shadows",
    "../_sass/icons",
    "../_sass/transforms",
    "../_sass/pseudo",
    "../_sass/transitions",
    "../_sass/header",
    "../_sass/parallax",
    "../_sass/media-queries",
    "../_sass/javascript"
;
