$bg-overlay: 0.5 !default;
$bg-heavy-overlay: 0.75 !default;
$border-light: 10% !default;
$border-x-light: 5% !default;
$btn-hover-mix: 80% !default;

@forward "base";
@forward "text";
@forward "bg" with ($overlay: $bg-overlay, $heavy-overlay: $bg-heavy-overlay);
@forward "borders" with ($light: $border-light, $x-light: $border-x-light);
@forward "buttons" with ($hover-mix: $btn-hover-mix);
@forward "svg";
