//// Base styles
//// @group styles-base
//// @link https://github.com/dawaltconley/scss-properties

@use 'theme';
@use 'scss-properties';

/// Default styles for blockquotes.
blockquote {
  color: var(--theme-tx--light);
  border-left-color: scss-properties.mix(--theme-tx, --theme-bg, 25%);
}

/// Default styles for code blocks.
pre,
code {
  $lightness-scale: calc(0.9 - (0.15 * var(--theme-light)));
  border-color: scss-properties.set(
    --theme-bg,
    $saturation: scale -60%,
    $lightness: mix --theme-tx $lightness-scale
  );
  background-color: scss-properties.set(
    --theme-bg,
    $saturation: scale -50%,
    $lightness: mix --theme-tx 90%
  );
}

/// Default styles for form fields.
input[type='text'],
textarea {
  color: var(--theme-tx);
  background: scss-properties.mix(
    --theme-tx,
    --theme-bg,
    calc(0.05 * var(--theme-light))
  );
  border-color: scss-properties.mix(--theme-tx, --theme-bg, 25%);

  &::placeholder {
    color: var(--theme-tx--light);
    opacity: 1;
  }
}
