@use 'scss-properties' as color-props;

$overlay: 0.5 !default;
$heavy-overlay: 0.75 !default;

.theme-bg {
    background-color: var(--theme-bg);
}

.overlay {
    background-color: color-props.change(--theme-bg, $alpha: $overlay);
}

.heavy-overlay {
    background-color: color-props.change(--theme-bg, $alpha: $heavy-overlay);
}
