//// Border styles.
//// @group styles-borders

@use 'theme';
@use 'scss-properties';

/// Percent of text color mixed with background in the `.border-light` class.
$border-light: 10% !default;
/// Percent of text color mixed with background in the `.border-x-light` class.
$border-x-light: 5% !default;

.border {
/// Applies a subtle color to border styles, relative to `--theme-text` and `--theme-bg`.
/// @name .border-light
/// @require $border-light
    &-light {
        border-color: scss-properties.mix(--theme-text, --theme-bg, $border-light);
    }

/// Applies an even subtler color to border styles, relative to `--theme-text` and `--theme-bg`.
/// @name .border-x-light
/// @require $border-x-light
    &-x-light {
        border-color: scss-properties.mix(--theme-text, --theme-bg, $border-x-light);
    }
}
