@use 'scss-properties' as color-props;

$light: 10% !default;
$x-light: 5% !default;

.border {
    &-light {
        border-color: color-props.mix(--theme-text, --theme-bg, $light);
    }

    &-x-light {
        border-color: color-props.mix(--theme-text, --theme-bg, $x-light);
    }
}
