@use 'scss-properties' as color-props;

$btn-hover-mix: 80% !default;

.button {
    $root: &;
    background-color: var(--button-bg);

    &--left, &--right {
        border-radius: 0;
        transform-origin: bottom;
    }
    &--left {
        transform: skewX(-30deg);
        #{$root}__text {
            display: block;
            transform: skewX(30deg);
        }
    }
    &--right {
        transform: skewX(30deg);
        #{$root}__text {
            display: block;
            transform: skewX(-30deg);
        }
    }

    &, &:hover, &:visited {
        color: var(--button-text);
    }

    &:hover {
        background-color: color-props.mix(--button-bg, --button-text, $btn-hover-mix);
    }

    &.subtle-button {
        color: var(--button-bg);
        background-color: var(--button-text);

        &:hover {
            background-color: color-props.mix(--button-text, --button-bg, $btn-hover-mix);
        }
    }

    &-o {
        background-color: var(--theme-bg);
        border-color: var(--button-bg);

        &, &:visited {
            color: var(--button-bg);
        }

        &:hover {
            color: var(--button-text);
            background-color: var(--button-bg);
            border-color: var(--button-bg);
        }

        &.subtle-button:not(:hover) {
            border-color: var(--theme-text);

            &, &:visited {
                color: var(--theme-text);
            }
        }
    }
}
