@use "sass:map";
@use "../mixins" as t;

.fill-color-theme {
    @include t.themeify using ($theme) {
        &-text {
            fill: map.get($theme,'text');
        }
        &-bg {
            fill: map.get($theme,'bg');
        }
        &-brand {
            fill: map.get($theme,'brand');
        }
    }
}

.stroke-color-theme {
    @include t.themeify using ($theme) {
        &-text {
            stroke: map.get($theme,'text');
        }
        &-bg {
            stroke: map.get($theme,'bg');
        }
        &-brand {
            stroke: map.get($theme,'brand');
        }
    }
}
