.fill-color-theme {
    &-text {
        fill: var(--theme-text);
    }
    &-bg {
        fill: var(--theme-bg);
    }
    &-brand {
        fill: var(--theme-brand);
    }
}

.stroke-color-theme {
    &-text {
        stroke: var(--theme-text);
    }
    &-bg {
        stroke: var(--theme-bg);
    }
    &-brand {
        stroke: var(--theme-brand);
    }
}
